
/* font-style  */
.open-sans{
    font-family: 'Open Sans', sans-serif;
}
.roboto-consensed{
    font-family: 'Jost', sans-serif;
}

.bebas-neue{
    font-family: 'Bebas Neue', cursive;
}
.cerebri{
    font-family: 'Cerebri Sans', sans-serif;
                                                
}
.montserrat{
font-family: 'Montserrat', sans-serif;
}


/* creating  size  */
.page {
    background: var(--white);
    display: block;
    margin: 0 auto;
    position: relative;
    box-shadow: var(--pageShadow);
    background-color: #ffffff;
}

.page[size="page-size"] {
    width: 8.5in;
    height: 20in;
    overflow: hidden;
    background-image: url(../images/background-new.svg);
    background-size: cover;
}
/* common white color  */
.color-white{
    color: #ffffff;
    }








main{
    margin: 0px 20px;
}
.top-text{
    display: flex;
    justify-content: space-between;
    height: 320px;

}

.quotes-area{
    display: flex;
    justify-content: space-between;
   
}

.quotes-area-content-1{
    font-size: 12px;
    width: 300px;
    margin-top: 74px;
    margin-left: 30px;
}
.quotes-area-content-2{
    font-size: 12px;
    text-align: right;
    margin-top: 2px;
    margin-right: 22px;
    width: 300px;
}

.btn-area >p{
    text-align: center;
}

/* Book to add area  */
.book-todd{
font-size: 29px;
font-weight: 600;
margin-top: 150px;
margin-left: 10px;

}
.book-todd >a{
text-decoration: none;
color: #ffffff;
}

.to-do-web-address{
    margin-top: -17px;
    font-size: 11px;
    margin-left: 12px;
}

.book-main-area{
    height: 435px;
}


.book-area{
    float: right;
    text-align: right;
    margin-top: -40px;
}

/* ==================================== */

/* video area  */

.video-area{
    height: 275px;
}
.video-content{
    height: 215px;
    width: 417px;
    background-color: aqua;
    /* margin: 0 auto; */
    margin-left: 176px;
    margin-top: 20px;
}

/* Middle area  */
#wierd-philosophy{
    font-size: 52px;
    margin-top: 20px;
    line-height: 56px;
}

.book-area-discription{
    margin-top: -35px;
    font-size: 15px;
}



/* last section  */
.ceo-area{
    text-align: center;
    font-size: 18.5px;
}

.footer-heading{
    display: flex;
}

.motivate{
    width: 300px;
    height: 410px;
}
.motivate >p{
    padding-top: 10px;
    margin-top: 0px;
    margin-left: 10px;
    font-size: 80px;
    line-height: 80px;
}
.motivate-discription{
    font-size: 12px;
}

.new-book{
    font-size: 13px;
    margin-left: 24px;
}




